<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Link Bootstrap -->
    <link rel="stylesheet" href="../public/style/bootstrap.min.css">
    <!-- Link CSS -->
    <link rel="stylesheet" href="../public/style/style.css">

    <title>Profile Manager</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Profile Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#profile_navbar"
            aria-controls="profile_navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="profile_navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="edit_profile.html" class="nav-link text-success" id="edit_profile">
                        Edit Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-danger" id="delete_profile">
                        Delete Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-primary" id="log_out">
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3 text-center">
                <div id="image_profile">
                    <p>Image here: </p>
                </div>
                <h3 class="mt-3" id="username">Username: </h3>
                <h4 class="mt-3" id="first_name">First Name: </h4>
                <p class="mt-3">Profile created at: </p>
                <time class="text-capitalize text-warning" id="signup_ago"></time>
            </div>
        </div>
    </div>

    <!-- Script JQuery -->
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Script Popper -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
        integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'>
    </script>
    <!-- Script Bootstrap -->
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
        integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'>
    </script>
    <!-- Script Sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Script Timeago -->
    <script src="../js/jquery.timeago.js"></script>
    <!-- Script is_not_logged_in -->
    <script src="../js/is_not_logged_in.js"></script>
    <!-- Script Deleteaccount -->
    <script src="../js/delete_profile.js"></script>
    <!-- Script Profile -->
    <script src="../js/app.js"></script>
</body>

</html>