<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Link Bootstrap -->
    <link rel="stylesheet" href="../public/style/bootstrap.min.css">
    <!-- Link CSS -->
    <link rel="stylesheet" href="../public/style/style.css">

    <title>Sign Up PM</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Profile Manager</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <form method="POST" enctype="multipart/form-data">
                    <h3 class="text-center m-5">Sign Up Form</h3>
                    <div class="form-group">
                        <input type="file" id="image_file">
                    </div>
                    <div class="form-group">
                        <input type="text" id="first_name" class="form-control" placeholder="First name: " autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" id="username" class="form-control" placeholder="Username: ">
                    </div>
                    <div class="form-group">
                        <input type="text" id="password" class="form-control" placeholder="Password: ">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="submit" class="form-control btn btn-primary" value="Completed">
                    </div>
                    <a href="signin.html" class="form-control btn btn-danger">
                        Sign In
                    </a>
                </form>
            </div>
        </div>
    </div>

    <!-- Script JQuery -->
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Script Popper -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
        integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'>
    </script>
    <!-- Script Bootstrap -->
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
        integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'>
    </script>
    <!-- Script Sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Script is_logged_in -->
    <script src="../js/is_logged_in.js"></script>
    <!-- Script Signup -->
    <script src="../js/signup.js"></script>
</body>

</html>